/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: palatino, georgia, serif;
    font-size: 20px;
    background-color: #fcfcfc;
    color: #272727;
    /*color: #fff;*/
    line-height: 1.5em;
    /** background-color: #232a35; */
    /** background-color: black;*/
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: url('./images/back.jpg');
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.main-container > .container {
  padding: 60px 0px 0px 0px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}

code {
  font-size: 80%;
}

.my-nav {
   background-image: url('./images/back.jpg');
}

.navbar-brand {
    font-weight: 500;
    color: #fff !important;
}



/** Editor */

/** Edit form */
.btn-publish {
    float: right;
    width: 200px;
}

.btn-discard {
    float: left;
    width: 200px;
}

.editForm {
    color: #272727;
}

.editForm > input {
    margin-bottom: 20px;
}

.editForm .quill {
    height: 300px;
    border: 1px solid #ccc;
}

.editForm .quill .ql-toolbar {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

.editForm .preview {
     height: 300px;
}