/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: palatino, georgia, serif;
    font-size: 20px;
    background-color: #fcfcfc;
    color: #272727;
    /*color: #fff;*/
    line-height: 1.5em;
    /** background-color: #232a35; */
    /** background-color: black;*/
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.main-container > .container {
  padding: 100px 50px 0px 40px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}

code {
  font-size: 80%;
}

.my-nav {
   /*background-image: url('./images/back.jpg');*/
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('./images/back.jpg');
    height: 90px;
}

.navbar-brand {
    font-weight: 500;
    color: #fff !important;
    left: 203px;
    top: 115px;
    position: relative;
}

.img-circle {
    border-radius: 50%;
    height: 160px;
    margin-top: 9px;
    background-image: url('./images/me.jpg')
}

.module {

  background-size: cover;
  width: 300px;
  height: 20px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}


/** Icons */
.social-icons {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.social-icons ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
}

.social-icons ul > li > a {
    color: #fff;
}

.social-icons ul > li > a:hover {
    color: #000;
}

/** Editor */

/** Edit form */
.btn-publish {
    float: right;
    width: 200px;
}

.btn-discard {
    float: left;
    width: 200px;
}

.editForm {
    color: #272727;
}

.editForm > input {
    margin-bottom: 20px;
}

.editForm .quill {
    height: 300px;
    border: 1px solid #ccc;
}

.editForm .quill .ql-toolbar {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

.editForm .preview {
     height: 300px;
}