/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}

body {
    font-family: palatino, georgia, serif;
    font-size: 20px;
    background-color: #fcfcfc;
    color: #272727;
    line-height: 1.5em;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.main-container {
    position: relative;
    padding-top: 1px;
}

.main-container > .container {
  padding: 100px 50px 0px 40px;
  height: 100%;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
}

code {
  font-size: 80%;
}

pre {
    margin: 0px;
    border: none;
    border-radius: 0px;
}

.my-nav {
   /*background-image: url('./images/back.jpg');*/
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('./images/back.jpg');
    height: 90px;
}

.navbar-brand {
    font-weight: 500;
    color: #fff !important;
    left: 203px;
    top: 115px;
    position: relative;
}

.img-circle {
    border-radius: 50%;
    height: 160px;
    margin-top: 9px;
    background-image: url('./images/me.jpg')
}

.module {

  background-size: cover;
  width: 100%;
  height: 20px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;

}

.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}


/** Icons */
.social-icons {
    position: absolute;
    right: 10px;
    bottom: 0px;
}

.social-icons ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
}

.social-icons ul > li > a {
    color: #fff;
}

.social-icons ul > li > a:hover, a:focus {
    color: #000;
}

.social-icons > .nav li {
    float: left;
}

.social-icons > .nav li>a {
    border-radius: 4px
}

.social-icons > .nav li+li {
    margin-left: 2px
}

.social-icons .nav li .active>a,.social-icons > .nav li .active>a:focus,.social-icons > .nav li .active>a:hover {
    color: #f92672;
}

.nav>li>a:focus,.nav>li>a:hover {
    color: #f92672;
    background-color:  inherit!important;
}

.nav>li>a:focus i,.nav>li>a:hover i {
    color: #a6e22e;
}

/** Post */
pre {
    padding-left: 0;
    padding-right: 0;
}

.post {
    height: 100%;
    width: 800px;
}

.short-post h2 > a, .post h2 > a {
    color: #000000;
}

.short-post  h2 > a:hover, .post h2 > a:hover {
    color: #f92672;
}

.short-post > .date, .post > .date {
    font-size: 13px;
    margin-bottom: 5px;
}

.post-content img {
    height: 500px;
    margin-left: 40px;
}
/** Editor */

/** Edit form */
.btn-publish {
    float: right;
    width: 200px;
}

.btn-discard {
    float: left;
    width: 200px;
}

.editForm {
    color: #272727;
}

.editForm > input {
    margin-bottom: 20px;
}

.editForm .quill {
    height: 600px;
    border: 1px solid #ccc;
}

.editForm .quill .ql-toolbar {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

.editForm .preview {
     height: 300px;
}



@media (max-width: 1000px) {
.center{}
.center-inner{
    left: 15%;
    top: 25%;
    position: absolute;
    width: 70%;
    height: 300px;
    text-align: left;
    max-width: 800px;
    max-height: 500px;
    }
}

@media (min-width: 1000px) {
.center{left:50%;top:25%;position:absolute;}
.center-inner{
    width: 800px;
    height: 100%;
    margin-left: -400px;
    height: 100%;
    text-align: left;
    max-width: 800px;
    max-height: 500px;
    }
}
